<div class = "container">
    <div>
        <mat-card *ngIf = "movie_details" class = "mat-card-container">
            <mat-card-header>
                <mat-card-title><h1>{{movie_details.original_title}}</h1></mat-card-title>
                <mat-card-subtitle>{{movie_details.overview}}</mat-card-subtitle>
            </mat-card-header>
            <img src = "{{imagelink}}">
            <mat-card-content>
                <h2><a class = "fa fa-thumbs-up like"></a>{{movie_details.vote_average}}</h2>
            </mat-card-content>
        </mat-card>
    </div>
    
    
    <div class = "review-section">
        <div class = "review-heading">Reviews</div>
    </div>

</div>
