<h1 >Login</h1>
<mat-dialog-content>
    <form [formGroup] = "loginForm" class = "login-container">
        <mat-form-field appearance = "outline" >
            <mat-label>email</mat-label>
            <input matInput formControlName = "email"> 
            <mat-hint>enter your email</mat-hint>
            <mat-error *ngIf = "formerrors.email">{{formerrors.email}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance = "outline" >
            <mat-label>password</mat-label>
            <input matInput formControlName = "password"> 
            <mat-hint>enter your password</mat-hint>
            <mat-error *ngIf = "formerrors.password">{{formerrors.password}}</mat-error>
        </mat-form-field>

        

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [disabled] = "!loginForm.valid" (click) = "onlogin()">Login</button>
    <button mat-raised-button [disabled] = "!loginForm.valid" (click) = "onsignup ()">Signup</button>
</mat-dialog-actions>
