<footer class = "footer-container">
    <div>
        <p class = "title" >Contact Us</p>
    
    </div>
    <div >
      <a href = "https://www.facebook.com/rawat.aman.50" mat-icon-button class = "fa fa-facebook fa-lg facebook"><span></span></a>
      <a href = "https://www.instagram.com/amanrawat2000" mat-icon-button class = "fa fa-instagram fa-lg instagram"><span></span></a>
      <a href = "https://www.linkedin.com/in/amam-rawat-a34818212?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BHEO7QllbRb6sELpTQy6Ltg%3D%3D" mat-icon-button class = "fa fa-linkedin fa-lg linkedin"><span></span></a>
      <a href = "mailto:amanrawat1007@gmal.com" mat-icon-button class = "fa fa-envelope fa-lg mail"><span></span></a>
             
    
      
    
    </div>
    
    </footer>
    