/*footer*/
.footer-container{
    background:#E3E2DF;
    display: flex;
    flex-direction : column ;
    align-items: center;

}

.facebook{
    background: #3b5998; color:#fff;
}
.instagram{
    background-color:#8a3ab9; color: white;

}
.linkedin{
    background-color:#007bb6; color: white;
}
.mail{
    background-color:red; color: white;
}

footer a{
    margin : 1.5rem 1.5rem ;  
}

.title{
    font-family: 'Lora', serif;
    padding: 0.5rem;
    color : #EE4C73 ;
    font-size: 4rem;
    font-weight: 1000;
    
    margin:1rem auto;
    
}



