h1{
    font-family: "Lora" , serif;
    font-size: 3rem;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.mat-card{
    margin: 2rem;
}

.mat-card:hover{
    cursor: pointer;
    
}

.container{
    min-height: 50vh;
} 